.card-item img:hover {
    font-weight: bold;
}

.my-2 {
    margin: 26px 0;
}

.my-1 {
    margin: 5px 0;
}

.flax-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}